<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lahm.learndaemon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--注册前台服务,不需要被外部调用export为false（默认）-->
        <service
            android:name=".ForegroundDaemonService"
            android:enabled="true"
            android:exported="false"
            android:process=":daemon_service" />
        <!--注册前台服务的小弟，取消通知服务，进程在notice_service-->
        <service
            android:name=".CancelNoticeService"
            android:enabled="true"
            android:exported="false"
            android:process=":notice_service" />
    </application>

</manifest>